<!-- This Page will display the contacts form for submitting a new user
This erb file will loop through the contacts database and for each element do the following:
Create a field for each element --> 

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <!-- Bootstrap Class that creates a grey background around forms field -->
        <div class="well">
            <h2>Contact Me</h2>
            <!-- The @contact is an instance variable, this comes from the method in the ContactsController class -->
            <%= form_for @contact do |f| %>
            
                <!-- Name Container -->
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: "form-control" %>    
                </div>
                
                <!-- Email Container --> 
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.text_field :email, class: "form-control" %>
                </div>
                
                <!-- Comments Container -->
                <div class="form-group">
                    <%= f.label :comments %>
                    <%= f.text_area :comments, class: "form-control" %>
                </div>
                
                <!-- Submit Button -->
                <%= f.submit 'Submit', class: "btn btn-success" %>
            
            <% end %>
        </div>
    </div>
    
</div>