<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Nav Tag is a subclass of the Div Tag -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Name of the Website in the Navigation Bar -->
      <!-- This below hand is a ERB Tag -- Allows for Ruby Code to be Enbedded -->
      <!-- Works as an Anchor Tag in HTML -->
      <%= link_to "Dev Match", root_path, class: 'navbar-brand' %>
    </div>
    
    <div class="collaspe navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- Links to the About Us Page -->
        <!-- Make sure route is defined in Routes.rb file -->
        <!-- You can check available routes with command: rake routes -->
        <li><%= link_to "About", about_path %></li>
      </ul>
    </div><!-- /.navbar collapse -->
    
  </div>
</nav>

<!-- Class Containter -- Belongs to Twitter Bootstrap -->
<!-- yield Ruby element is everything that is output to the body of the application for a particular page -->
<div class="container">
  <%= yield %>
</div>


</body>
</html>
